{% extends "base.html" %}
{% block title %}
    Accounts
{% endblock title %}

{% block content %}
    {% for account in account_list %}
    <ul>
        <li><a href="{% url 'banking:account-detail' account.account_number %}">{{ account }}</a></li>
        <p>{{ account.account_type_code }}</p>
        <p>Balance: {{ account.current_balance }}</p>
        {# <p>Last Transaction: {{ }}</p> <-- to be added soon-ish#}
    </ul>
    {% empty %}
        <p>You have no accounts.</p>
        <p><a href="{% url 'banking:account-create' %}">Click here to create a new account</a></p>

    {% endfor %}

    {% if account_list %}
        <p>
            Would you like to make a transaction? <a href="{% url 'banking:transaction-create' %}">Click here</a>
        </p>

        <p>Would you like to open a new account? <a href="{% url 'banking:account-create' %}">Click here</a></p>
    
    {% endif %}


{% endblock content %}